#about {
color: black;
}

.cover-image {

    border:5px groove black;
    border-radius: 2rem;
    
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 1rem;
    grid-template-rows: repeat(auto-fill, minmax(200px, 500px));
    grid-row-gap:70px;
}

.hero {
    background-color: #f5f8fa;
    height: 100%;
    width: 100%;
}

.intro {
    margin-top: 5rem;
   
}

.skills {
  font-family: monospace;
  display: flex;
  justify-content: relative;
  flex-direction:column;
  flex-wrap: wrap;
  /* outline: dashed red; */
  
}
