#about {
color: black;
}

.cover-image {

    border:5px groove black;
    border-radius: 2rem;
    
}

.grid-container1 {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    

    /* outline: solid; */
}


.intro {
    margin-top: 5rem;
    /* outline:dashed yellow; */
   
}

.skills {
  font-family: monospace;
  display: flex;
  justify-content: relative;
  flex-direction:column;
  flex-wrap: wrap;
  /* outline: dashed red; */
  
}
